body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Azul pastel */
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00796b; /* Verde oscuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 15px;
    text-align: center;
    border: 1px solid #b2ebf2; /* Azul claro */
}

button {
    background-color: #80deea; /* Azul pastel */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4dd0e1; /* Azul más oscuro al pasar el mouse */
}

.details-button {
    background-color: #4db6ac; /* Verde pastel */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.details-button:hover {
    background-color: #009688; /* Verde más oscuro al pasar el mouse */
}

.details-content {
    display: none; /* Ocultar contenido por defecto */
    margin-top: 10px;
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #b2ebf2; /* Azul claro */
    border-radius: 5px;
    padding: 10px;
}
